*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    min-height: 10vh;
    padding: 0 20px;
    background-color:mediumorchid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    }
header nav{
    width: 60vw;
}
header nav a{
    font-size: 21px;
    margin-left: 1vw;
    color:black;
    text-decoration: none;
    border: 1px inset pink;
}
.icon{
    background-color: aqua;
    border: 2px solid white
    
}
header .img-header{
    width: 61px;
    height:61px;
    object-fit: cover;
  
}
header .img-header img{
   width: 100%; 
}


main{
    background-color:rgb(224, 193, 224);
    min-height: 100vh;
}
main .title{
    text-align: center;
    
}
main .title h1{
    margin-top: 0;
    font-size: 30px;
    color:black
} 
main .title h2{
    font-size: 28px;
    color:blueviolet;
    margin-bottom: 40px;
}
main .banner{
    width: 100%;
}
main .banner img{
    object-fit: cover;
    width: 100%;
    height: 30vh;
}
main .continfo{
    display: flex;
    text-align: justify;
    margin-left: 10vw;
    margin-top: 5vh;
    padding-bottom: 4vh;
    align-items: center;
} 
main .continfo .info{
    width: 36vw;
    padding-right: 5vw;
}
main .continfo .info p{
    font-size: 20px;
}
main .continfo .cont{
    width:40%;
    height: 40vh;
}
main .continfo .cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer{
    background-color: plum;
    text-align:center;
    font-size: 16px;
    color:white;
    min-height: 6vh;
    padding: 10px;
}



.aboutus{
    padding-bottom: 10vh;
}

.frutbuss{
    padding-bottom:5vh;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.frutbuss .frut{
    width: 30vw;
    height: 30vh;
} 
.frutbuss .frut img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.frutbuss .business{
    text-align: justify;
    width: 20vw;
    height: 20vh;
}
.frutbuss .business p{
    font-size: 26px;
}

.cream{
    width: 65%;
    height:20%;
    padding-left:34vw;
} 
.cream img{
    width: 100%;
    height: 100%;
}
.created{
    width: 70%;
    height:20%;
    padding-left:35vw;
}
.contact{
    padding-top: 6vh;
    padding-bottom: 20vh;
}
.created p{
    font-size: 20px;
}
.email{
    padding-left:24vw;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}
.email p{
    margin-left: 6vw;
    font-size: 23px;
}
table{
    padding-bottom: 5vh;
}
.table1{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 20vh;
    padding-top: 4vh;
    min-height: 100vh;
}
thead{
    background-color:palevioletred
}

table, th, td{
    border: 2px solid purple;
    border-collapse: collapse;
    width: 50%;
    padding-top: 1px;
}

th,td{
    padding: 30px;
    text-align: center;

}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30vh;
    padding-top: 3vw;
}
.bene{
    display: flex;
    flex-direction: column;

}
.bene h3{
    font-size: 23px;
    padding-bottom: 3vh;
}

.imagone{
    display: flex;
    align-content: flex-start;
    align-items: center;
    border:1px solid purple;
    width: 60%;
    background-color: bisque;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.imag1{
    width: 28vw;
    height: 31vh;
    padding: 1vh;
    object-fit: cover;
   
}
.imag1 img{
    width: 70%;
    height: 100%;
}
.benefits1{
    width: 70%;
    height:20%;
    font-size: 29px;
    margin-left: 57px;
}
.imagtwo{
    display: flex;
    align-content: flex-start;
    align-items: center;
    border:1px solid purple;
    width: 60%;
    background-color: bisque;
    justify-content: space-around;
}
.imag2{
    width: 24vw;
    height: 30vh;
    padding: 1vh;
    object-fit: cover;
}

.imag2 img{
    width: 70%;
    height: 100%;
}

.mapboton{
    display: flex;
    justify-content: space-around;
}
    
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.map p{
    font-size: 30px;
    font-weight: bold;
}

.boton{
    border: 1px solid palevioletred; 
}

.boton label{
    font-size: 20px;
}
.boton p{
    font-size: 23px;
}



@media screen and (max-width: 768px){
   
header{
    flex-direction: column-reverse;
    text-align: -webkit-center;

}
header nav{
    width: 16vw;

}
main .continfo{
    flex-direction: column-reverse;
    text-align: -webkit-center;
}
main .continfo .info p{
    text-align: center;
}
.frutbuss{
    flex-direction: column;
}
.email{
    flex-direction: column;
    padding: 22px;
    
}
.email p{
padding-top: 20px;
text-align: center;
}
.imagone{
    flex-direction: column;
}
.imagtwo{
    flex-direction: column;
}
.imag2{
    width: 40vw;
    height: 18vh;
}
.mapboton{
    flex-direction: column-reverse;
}
.map iframe{
    width: 80%;
}
.boton{
   display: flex;
   justify-content: center;
   margin-bottom: 10vh;
   border: none;
}
}




